<div id="tab_comments">
 <div class="avatar"><img alt="img" src="{{ comment.user.avatar | apply_filter('user_foto_micro') }}"/></div>
  <div id="tab_comments_item">
   <div id="tab_comments_top">
    <div class="author">
     <a href="{{ path('user_info', {'login': comment.user.login}) }}">{{ comment.user.name }}</a>
    </div>
    <div class="date">
     {{ russian_date(comment.createdDate) }}
    </div>
   </div>
   <div id="tab_comments_bottom">
    <p>{{ comment.content }}</p>
   </div>
  </div>
</div>