 <div class="content_wrap">
            <div class="content_layout">
                <div class="content_layout-row">
                    <div class="content_main">
                        <div class="content-top">
                            <div class="leanback-player-video">
                                <!-- HTML5 <video> element -->
                                <video width="639" height="314" preload="metadata" controls poster="/bundles/bt/video/poster.jpg">
                                    <!-- HTML5 <video> sources -->
                                    <source src="/bundles/bt/video/trailer_400p.ogg" type='/bundles/bt/video/ogg; codecs="theora, vorbis"'/>
                                </video>
                            </div>
                        </div>
						
						<div class="content-wiev">
                            <div class="content-wiev_item">
                                <ul class="expand_cont">
                                    <li>
                                        <h4 id="expand">нажми</h4>
                                        <div>блок1hkfkjfk<br />khhkjlivflyivkh<br />kljlhjlhjvlgjcv<br />jhvjghvjlvjvc<br />jhvjhlvkhvhkv<br />jkhjv</div>
                                    </li>
                                    <li >
                                        <h4 id="expand">нажми</h4>
                                        <div>блок2</div>
                                    </li>
                                    <li >
                                        <h4 id="expand">нажми</h4>
                                        <div>блок3</div>
                                    </li>
                                    <li >
                                        <h4 id="expand">нажми</h4>
                                        <div>блок4</div>
                                    </li>
                                    <li >
                                        <h4 id="expand">нажми</h4>
                                        <div>блок5</div>
                                    </li>
                                </ul>
                                <h3>Сообщество Свободных Писателей Фрипортер.Ру объявляет старт литературного творческого конкурса с ценными призами!</h3>
                                <p>В период с ___ по ___ набери максимальное количество Конкурсных Баллов и получи возможность выиграть один из 3 смартфонов Samsung Galaxy SIII или один из 20 сертификатов на сумму до 5000 рублей от интернет -магазина OZON.RU.</p>
                                <a href="/" class="blu-button">принять участие прямо сейчас!</a>
                                <p style="text-transform: uppercase; font-size: 17px;">Конкурсные Баллы можно набирать ежедневно несколькими способами:</p>
                                <ul><li>написание Конкурсных Статей на свободную тему (если нет идей - мы поможем :))</li><li>лайки и репосты от Ваших друзей в VK/FB/ОД/TW/G+</li><li>вопросы, ответы и комментарии на сайте Конкурса</li><li>помощь модераторам Конкурса</li><li>приглашение друзей к участию в Конкурсе</li></ul>
                                <a href="/" style="margin-top: 15px; display: block;"><img src="/bundles/bt/img/tabl-ico.png" alt="table" style="vertical-align: middle;border: 0;padding: 0;"/><span style="padding-left: 5px;">Полную таблицу начисления баллов смотрите здесь!</span></a>
                                <br />
                                <p style="text-transform: uppercase; font-size: 17px;">правила конкурса предельно просты:</p>
                                <p style="border-bottom:1px dotted #BFBFBF;border-top:1px dotted #BFBFBF;">
                                    <span style="line-height: 99px;display: inline-block;"><img style="margin: 0 45px 0 15px;vertical-align: middle;border: 0;padding: 0;" alt="new" src="/bundles/bt/img/new.png" valign="middle"/><span style="line-height: 18px;display: inline-block;vertical-align: middle; width: 79.8%; margin: 10px 0;"><span style="color: #ff9212;">1.</span> Пиши интересные\популярные\смешные\спорные\полезные Конкурсные Статьи. Даже если ты думаешь, что не умеешь красиво писать - мы докажем обратное и научим писать “вирусные” и по-настоящему интересные статьи.</span></span>
                                    <span style="border-bottom:1px dotted #BFBFBF;border-top:1px dotted #BFBFBF; line-height: 99px;display: inline-block;"><span style="line-height: 18px;display: inline-block;vertical-align: middle; width: 79.8%; margin: 10px 0;"><span style="color: #ff9212;">2.</span> Делись своей Конкурсной Статьей с друзьями\знакомыми\коллегами и получи их поддержку в виде лайков в социальных сетях VK/FB/ОД/TW/G+. Пиши больше статей - получай больше лайков! Каждый лайк твоей Конкурсной Статьи приносит тебе 2 балла!</span><img style="margin: 0 15px 0 45px;vertical-align: middle;border: 0;padding: 0;" alt="user" src="/bundles/bt/img/user.png" valign="middle"/></span>
                                    <span style="line-height: 99px;display: inline-block;"><img style="margin: 0 45px 0 15px; vertical-align: middle;border: 0;padding: 0;" alt="new" src="/bundles/bt/img/new.png" valign="middle"/><span style="line-height: 18px;display: inline-block;vertical-align: middle; width: 79.8%; margin: 10px 0;"><span style="color: #ff9212;">3.</span> Выигрывай один из 3 смартфонов Samsung Galaxy SIII или один 20 сертификатов на сумму до 5000 рублей от интернет-магазина OZON.RU.
</span></span>
                                </p>
                                <p>Чем больше Конкурсных Статей ты пишешь в день, тем больше баллов получаешь! Каждая следующая приносить больше баллов. Стоимость Конкурсных Статей может составлять от 10 до 200 баллов! Для своей статьи ты можешь выбрать любую тему, из любой сферы. Это может быть что-угодно:</p>
                                <ul><li>журналистское расследование</li><li>решение насущной проблемы</li><li>описание твоих взглядов на что-либо</li><li>полезный совет кому угодно</li><li>просто интересный и цепляющий внимание “кусочек полезной информации”.</li></ul>
                                <a href="/" class="blu-button" style="margin-top: 20px;">принять участие прямо сейчас!</a>
                            </div>
                            <div class="content-wiev_more">
                                <div class="content-wiev_tab">
                                <h2>Статьи</h2>
                                    <div class="section">
                                      <div class="box visible">
                                        <div><img alt="img" src="/bundles/bt/img/war.jpg"/><div id="tab_cont"><h3>Феномен онлайновой игры «World of Warcraft»</h3><p>Думаете, разобраться в новой профессии слишком сложно? Может быть, но только не на Workle! Ведущие эксперты в каждой области разработали интерактивное онлайн-обучение, и для пользователей Workle эти курсы совершенно бесплатны. Вам повезло, ведь аналогичное обучение вне Workle всегда платное и стоит от 10 тысяч до 100 тысяч рублей.</p><a class="but-yellow" href="/">подробнее</a></div></div>
                                      </div>
                                      <div class="box">
                                        Содержимое второго блока
                                      </div>
                                      <div class="box">
                                        Содержимое третьего блока
                                      </div>
                                      <div class="tbl">
                                      <ul class="tabs">
                                        <li class="current"><span>«Автостопом по Галактике» и «Путеводитель  для автостопщиков»</span></li>
                                        <li><span>«Доктор Стрейнджлав, или Как я научился не бояться и полюбил атомную бомбу»</span></li>
                                        <li><span>Феномен онлайновой игры «World of Warcraft»</span></li>
                                      </ul>
                                      </div>
                                    </div>
                                </div><!-- end content-wiev_tab-->
                                <div class="clear"></div>
									 
								{% for post in posts %}
							           {% if loop.index%3==1  %}  <div class="row"> {% endif %}
                                    <div class="row-cell float-left"><div class="spacer">
                                        <div class="date">11.12.2012 <span>/ 15:43</span></div>
                                        <a href="/"><img src="{{ post.preview.miniview }}"/></a>
                                        <a class="itm_title" href="/">{{ post.title }}</a>
                                        <div class="author">
                                            <a href="/">{{ post.user.screenName }}</a><br />
                                            <span>{{ post.likesCount|number_format() }}</span>
                                        </div>
                                        <p>индекс {{loop.index}}</p>
                                        <a href="{{ path('show_post', {login: post.user.screenName, post_slug: post.slug}) }}" class="but-yellow">подробнее</a>
                                        <div class="clear"></div>
                                    </div></div>


                                   <!--  <div class="row-cell float-left"><div class="spacer">
                                        <div class="date">11.12.2012 <span>/ 15:43</span></div>
                                        <a href="/"><img src="/bundles/bt/img/prem.jpg"/></a>
                                        <a class="itm_title" href="/">Премьеры России — 13 декабря</a>
                                        <div class="author">
                                            <a href="/">Василий ИванЫч</a><br />
                                            <span>54</span>
                                        </div>
                                        <p>В этот уик-энд российский прокат предлагает своему зрителю несколько скромных...</p>
                                        <a class="but-yellow" href="/">подробнее</a>
                                        <div class="clear"></div>
                                    </div></div>
                                    <div class="row-cell float-left"><div class="spacer">
                                        <div class="date">11.12.2012 <span>/ 15:43</span></div>
                                        <a href="/"><img src="/bundles/bt/img/no-image.jpg"/></a>
                                        <a class="itm_title" href="/">«Золотой глобус 2013»: Номинанты</a>
                                        <div class="author">
                                            <a href="/">Selena</a><br />
                                            <span>107</span>
                                        </div>
                                        <p>13 декабря объявлены номинанты 70-й премии «Золотой глобус» — одной...</p>
                                        <a class="but-yellow" href="/">подробнее</a>
                                        <div class="clear"></div>
                                    </div></div> -->


                                  {% if loop.index%3==0 or loop.last %}  <div class="clear"></div>  </div><!-- end row --> {% endif %}
                               
								{% else %}
								{% endfor %}

                            </div>
                            <div class="pagination">
                                <ul>
                                    <li class="pagination-start"><a>&#171;</a></li>
                                    <li class="pagination-prev"><a>&#8249;</a></li>
                                    <li class=""><a>1</a></li>
                                    <li class=""><span>2</span></li>
                                    <li class="pagination-next"><a>&#8250;</a></li>
                                    <li class="pagination-end"><a>&#187;</a></li>
                                </ul>
                            </div>
                        </div><!-- end content-wiev -->