{% extends 'BTBundle:Frontend/Base:base.html.twig'%}

{% block scripts %}
<script type="text/javascript" src="/bundles/bt/js/content-obj-toggle.js"></script>
{% endblock %}

{% block title %}Просмотр поста: {{ post.title }}{% endblock %}
{% block header %}Просмотр поста: {{ post.title }}{% endblock %}

{% block content %}

<h2>
Категории:
{% for category in post.categories %}
{{ category.label }}{% if not loop.last %}, {% endif %}
{% endfor %}
</h2>

<img src="{{ post.preview| apply_filter('post_image_mini') }}">
<div>
<h3>Содержание:</h3>
{{ post.content|raw }}
</div>

<h4>
Теги:
{% for tag in post.tags %}
<a href="{{ path('list_post_by_tag', {tag: tag.label}) }}">{{ tag.label }}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
</h4>

<h5>Дата создания : {{ russian_date(post.createdDate) }}</h5>

{% include 'BTBundle:Frontend/ContentObject:like_form.html.twig' with {'object': post} %}
{% include 'BTBundle:Frontend/ContentObject:complaint_form.html.twig' with {'object': post} %}

<div id="vk_comments"></div>

{% include 'BTBundle:Frontend/Post:comment_form.html.twig' with {'form': formComment} %}
{% include 'BTBundle:Frontend/Post:comment_list.html.twig' with {'comments': post.comments} %}

{% endblock %}