{% extends 'BTBundle:Frontend/Base:base.html.twig'%}

{% block header %}Мои посты{% endblock %}
{% block title %}Мои посты{% endblock %}

{% block content %}

<table>
{% for post in posts %}
<tr>
 <td>{{ post.title }}</td>
 <td>
  <ul>
    <li><a href="{{ path('profile_admin_edit_post', {id: post.id}) }}">редактировать</a></li>
   {% if post.isPublished == true %}
    <li><a href="{{ path('show_post', {login: post.user.screenName, post_slug: post.slug}) }}">просмотреть</a></li>
   {% endif %}
   <li><a href="{{ path('profile_admin_delete_post', {id: post.id}) }}">удалить</a></li>
  </ul>
 </td>
</tr>
{% endfor %}
<table>

{{ pagerfanta(posts) }}

{% endblock %}