{% extends 'BTBundle:Frontend/Base:base.html.twig'%}

{% block title %}Список ссылок{% endblock %}
{% block header %}Список ссылок{% endblock %}

{% block content %}
<table>
{% for link in links %}
<tr>
 <td><a href="{{ path('show_post', {login: link.post.user.screenName, post_slug: link.post.slug}) }}">{{ link.post.title }}</a></td>
 <td><a href="{{ link.url }}" target="_blank">ссылка</a></td>
 <td>{{ link.scores }}</td>
</tr>
{% else %}
нет ссылок
{% endfor %}
<table>

{{ pagerfanta(links) }}

{% include 'BTBundle:Frontend/ProfileAdminPost:foreign_link_form.html.twig' %}

{% endblock %}