<div class="post_story">
    <div class="date"><span id="dialog"></span>{{ russian_date(e.createdDate) }}</div>
    <div id="story">
        <a href="{{ path('user_info', {login: e.data.like.user.login}) }}">{{ e.data.like.user.name }}</a>
        понравился вопрос
        <a href="{{ path('show_question', {id: e.data.question.id}) }}"><span>{{ e.data.question.title }}</span></a>
    </div>
</div>