<div class="post_story">
    <div class="date"><span id="dialog"></span>{{ russian_date(e.createdDate) }}</div>
    <div id="story">
        <a href="{{ path('user_info', {login: e.data.post.user.login}) }}">{{ e.data.post.user.name }}</a>
        опубликовал статью
        <a href="{{ path('show_post', {id: e.data.post.id}) }}"><span>{{ e.data.post.title }}</span></a>
        и получил {{ e.data.post.scores }} баллов.
    </div>
</div>