{% import 'BTBundle:Frontend/Base:forms.html.twig' as forms %}
{% extends 'BTBundle:Frontend/Base:base.html.twig'%}

{% macro email_input(form) %}
{% import 'BTBundle:Frontend/Base:forms.html.twig' as forms %}
{% spaceless %}
	<div>
	{{ forms.widget(form, {placeholder: 'E-mail пользователя...'}) }}
	<a id="dell" onclick="$(this).parent().remove(); return false"></a>
	{{ forms.messages(form, {placeholder: 'E-mail пользователя...'}) }}
	</div>
{% endspaceless %}
{% endmacro %}

{% block scripts %}
<script>
count = {{ form.emails.count }};
$(document).ready(function(){
    $('#add_inp').click(function() {
        var prot = '{{ _self.email_input(form.emails.vars.prototype) }}';
		prot = prot.replace(/__name__/g, count);
        $('#email_list').append(prot);
        count++;
    });
	if ($('#email_list input').length == 0) {
		  $('#add_inp').click();
	}
});
</script>
{% endblock %}

{% block title %}Пригласить друзей{% endblock %}

{% block content %}
 <div class="content-wiev_item">
<div class="breadcrumbs"><a href="/index.php">Главная</a><span>Пригласить друзей</span></div>
<h2>Пригласить друзей</h2>
<div class="inviting">

	<div>
		<form action="{{ path('profile_admin_invite_friends') }}" method="post">
		{{ forms.all_messages(form) }}
		{{ forms.widget(form._token) }}

    	<label>Введите, пожалуйста, e-mail адреса и имена ваших друзей:</label>
        <div id="email_list">
    	{% for emailField in form.emails %}
			{{ _self.email_input(emailField) }}
		{% endfor %}
		</div>

        <a id="add_inp">Добавить поле</a>
        {{ forms.row(form.message) }}

        <input type="submit" class="but-yellow active">
		</form>
	</div>

	<div class="social">
	<h3>Приглашение  через социальные сети</h3>
	{% set title = 'Сайт конкурс' %}
	<a href="http://www.facebook.com/sharer.php?u={{ invite_url }}&t={{ title }}" rel="facebox" id="fb" ></a>
	<a href="http://vkontakte.ru/share.php?url={{ invite_url }}&title={{ title }}" rel="facebox" id="vk"></a>
	<a href="http://twitter.com/share?url={{ invite_url }}&text={{ title }}" rel="facebox" id="tw"></a>
	<a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st.comments={{ title }}&st._surl={{ invite_url }}" rel="facebox" id="od"></a>
	<a href="https://plus.google.com/share?url={{ invite_url }}" rel="facebox" id="go"></a>
	<a href="http://connect.mail.ru/share?share_url={{ invite_url }}&title={{ title }}" rel="facebox" id="ma"></a>
	</div>

</div>
</div>

{% endblock %}