{% extends 'BTBundle:Frontend/Base:base.html.twig'%}

{% block title %}{{ profile.name }}{% endblock %}

{% block content %}

<div class="content-wiev_item">
  <div class="breadcrumbs">
    <a href="{{ path('homepage') }}">Главная</a>
    <span>{{ profile.name }}</span>
  </div>
 <h2>{{ profile.name }}</h2>
</div>

<div class="content-wiev_item">
 <h2>{{ profile.name }}</h2>
 <img src="{{ profile.avatar | apply_filter('user_foto_q190') }}">
 <div style="float: right">
  {% if profile.about %}
  О себе: {{ profile.getAbout }}<br>
  {% endif %}

  {% if profile_categories %}
      Категории:
   {% for category in profile_categories %}
       <a href="{{ path('list_post_by_category', {slug: category.slug}) }}">{{ category.label }}</a>
       {% if loop.last == false %},{% endif %}
   {% endfor %}
   <br>
  {% endif %}

  Зарегистрирован: {{ russian_date(profile.createdDate) }} через {{ profile.sourceText }}
  </br>
   
  <a href="{{ path('user_posts', {login: profile.login}) }}">Посты пользователя</a></br>
  <a href="{{ path('user_questions', {login: profile.login }) }}">Вопросы пользователя</a></br>
  <a href="{{ path('user_answers', {login: profile.login }) }}">Ответы пользователя</a></br>
 </div>
</div>
{% endblock %}