{% extends 'BTBundle:Frontend/Base:base.html.twig'%}

{% block title %}Вопросы пользователя {{ profile.login }}{% endblock %}

{% block content %}
<div class="content-wiev_item">
  <div class="breadcrumbs">
    <a href="{{ path('homepage') }}">Главная</a>
    <a href="{{ path('user_info', {login: profile.login}) }}">{{ profile.login }}</a>
    <span>Вопросы</span>
  </div>
 <h2>Вопросы пользователя {{ profile.login }}</h2>
</div>

<div class="content-wiev_answer">
  
  {% for question in questions %}
<div class="content-wiev_answer-item">
    <div class="answer">
        <h3 class="answer_title"><a href="{{ path('show_question', {id: question.id}) }}">{{ question.title }}</a></h3>
        <div class="author">
            <div class="date">
             <span id="clock">Опубликовано: </span>{{ russian_date(question.createdDate) }}
             <span id="dialog">Ответов: <a href="{{ path('show_question', {id: question.id}) }}">{{ question.answerCount }}</a></span>
            </div>
        </div>
        <p>{{ question.content }}</p>
    </div>

    <a href="{{ path('show_question', {id: question.id}) }}" class="but-yellow active" style="margin-top: 10px;">Подробнее</a>

    {% if env.user and env.user.id == question.user.id %}
    <a href="{{ path('profile_admin_delete_question', {id: question.id}) }}" class="but-yellow active" style="margin-top: 10px;">Удалить</a>
    {% endif %}

    <div class="clear"></div>
</div>
{% else %}
<h3>Вопросы отсутствуют</h3>
{% endfor %}

{{ pagerfanta(questions, 'default_2') }}

</div>
{% endblock %}