{% import 'BTBundle:Frontend/Base:forms.html.twig' as forms %}

<form action="{{ path('profile_reg') }}" method="post">
{{ forms.errors(form) }}
{{ forms.row(form._token) }}

{{ forms.row(form.email) }}
{{ forms.row(form.password) }}
<input type="submit" class="but-yellow active" value="Отправить">
</form>