{% extends 'BTBundle:Frontend/Base:base.html.twig'%}
{% import 'BTBundle:Frontend/Base:forms.html.twig' as forms %}

{% block title %}Новый вопрос{% endblock %}
{% block header %}Новый вопрос{% endblock %}

{% block content %}
<form action="{{ path('profile_admin_new_question') }}" method="post">
{{ forms.errors(form) }}
{{ forms.row(form._token) }}

{{ forms.row(form.title) }}
{{ forms.row(form.content) }}
{{ forms.row(form.category) }}
<input type="submit">
</form>

{% endblock %}